!!! 5
%html
  %head
    %title
      Squadfree
    %link(rel='stylesheet' href='18_2.css')
    %link(rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
  %body
    %header
      %img(src="https://bootstrapmade.com/wp-content/themes/bmade/assets/img/logo.png")
      %ul
        %li
          %i.fa.fa-external-link-alt
        %li  
          %i.fa.fa-home
        %li.download
          %i.fa.fa-download
            Free Download
        %li
          %i.fa.fa-chevron-left
        %li
          %i.fa.fa-chevron-right
    %section.nav-bar
      .name
        SQUAD FREE
      %ul.menu
        %li
          HOME
        %li
          ABOUT
        %li
          SERVICE
        %li
          CONTACT
        %li
          DROPDOWN
    %section.page-content
      .home
        .welcome
          WELCOME TO SQUAD
        .details
          WE ARE GROUP OF GENTLEMEN MAKING AWESOME WEB WITH BOOTSTRAP
        .next
          %i.fa.fa-angle-double-down
      .about
        .heading
          .title
            ABOUT US
          %i.fa.fa-angle-down
        %ul.team
          %li
            .title
              ANNA HANACHECK
            .role
              Pixel Crafter
            %img(src='')
          %li
            .title
              MAURA DANIELS
            .role
              Ruby on Rails
            %img(src='')
          %li
            .title
              JACK BRIANE
            .role
              jQuery Ninja
            %img(src='')
          %li
            .title
              TOM PETTERSON
            .role
              Typographer
            %img(src='')
      .service
        .heading
          .title
            OUR SERVICES
          %i.fa.fa-angle-down
        %ul.services
          %li
            %i.fa.fa-
            .sercice-caption
              PRINT
            .service-details
              Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
          %li
            %i.fa.fa-
            .sercice-caption
              WEB DESIGN
            .service-details
              Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
          %li
            %i.fa.fa-
            .sercice-caption
              PHOTOGRAPHY
            .service-details
              Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
          %li
            %i.fa.fa-
            .sercice-caption
              CLOUD SYSTEM
            .service-details
              Vestibulum tincidunt enim in pharetra malesuada. Duis semper magna metus electram accommodare.
      .contact-us
        .heading
          .title
            GET IN TOUCH
          %i.fa.fa-angle-down
        .form

        .address

      .footer
        %i.fa.fa-angle-double-up
        %div
          &copy;SquadFREE. All rights reserved.
        %div
          Bootstrap One Page Templates by BootstrapMade
